.container
  box-sizing: border-box
  font-size: 16px
  border: 1px solid lightgray
  border-collapse: collapse
  margin: 20px auto
  background-color: white

  .heading
    font-size: 0.875em
    padding: 10px 20px
    background-color: lightgray
    text-align: left

  .space
    height: 0

  .content
    padding: 10px 20px
