@import "src/utils/placeholder"

.container
  box-sizing: border-box
  position: relative
  display: inline-flex
  background-image: $area-placeholder
  background-size: 56.57px 56.57px
  justify-content: center
  align-items: center
  color: $text-placeholder
  overflow: hidden
  user-select: none
  font-family: Arial,serif
  font-size: 14px
